
.full-page{
    margin: auto;
    width: 1300px;
}
.all{

    width: 1300px;
}
.container{
    /* width: 100%; */
    
    /* margin: auto; */
}
.overall{
    margin: auto;
}
.style{
    display: flex;
    justify-content: space-between;


    
}
.team{
    margin-top: 30px;
    margin-left: 100px;
    font-size: 28px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: "Poppins", sans-serif;
    color: white;
    

}

.header ul{
    list-style: none;
    display: flex;
    margin-top: 15px;
    

    
}
/* .header ul li{} */
.header ul li a{
    font-size: 14px;
    font-weight: 400;
    color: black;
    white-space: nowrap;
    font-family: arial;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: white;
    margin-right: 20px;
}


.banner-text h2{
    text-align: center;
    margin: 50px 0px 50px 0px;
    font-size: 30px;
    color: white;
    font-family: "Raleway", sans-serif;
    
}
.banner-text p{
    text-align: center;
    font-family: "Raleway", sans-serif;
    color: #eee;
    margin: 45px 0px 50px 0px;
    font-size: 22px;
}
.banner-text p a{
    background: rgb(101, 101, 192);
    padding: 10px;
    margin-left: 30px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    font-size: 15px;
}
.banner-text p a:hover{
    background-color: yellow;
    padding: 10px;
    margin-left: 30px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    margin-top: 20px;
}
.mobile :hover{
    color: yellow;

}
.mobile{
    display: flex;
}
.get{
    margin-top: 20px;
}
.banner-wrapper{
    padding: 90px;
}
.all{
    background-image:url(../git-webpage/logo/hero.jpg);
}
.overall{
    background: rgba(45, 53, 69, 0.7);
}
.img-ara{
   
   display: flex;
   justify-content: space-between;
   padding: 30px;

}



.nisi{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    width: 48%;
    margin-bottom: 20px;
    

    
    
}




.color {
    
    height: 20px;
    width: 350px;
    margin-top: 10px;
    margin-bottom: 170px;
}

.img-area{
    
    height: 200px;
    width: 500px;
    margin-left: 50px;
    
}
.emi{
   width:200px;
   margin-left: 60px;
   
}
.red{
    height: 100px;
    width: 250px;
    margin-bottom: 30px;
    
}
.red p{
    font-size: 15px;
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
    
    
}
.red h1{
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
    margin-top: 20px;
}

.color p{
font-size: 20px;
}
    





    
/* 
}  margin-left: 310px;
    margin-top: 60px;
    margin-right: 10px;
}
.red p{ */
  

.citrus{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    
}
.provident{
    
}
.lilly{
    margin: auto;
}
.color p{
    margin-top: 15px;
    font-size: 15px;
    color: #848484;

}
.color h1{
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
   


}
.color{
    font-size: 20px;
}
.icofont-ui-note{

    font-size: 48px;
    margin-top: 15px;
    color: #8b97b3;
    margin-bottom: 10px;
    
}
.icofont-cube{
    font-size: 48px;
    margin-top: 15px;
    color: #8b97b3
}
.number{
    display: flex;
     justify-content: space-between;
     margin-left: 250px;
     margin-right: 250px;
     margin-top: 80px;
   
 }
 .number h2 {
   font-size: 48px;
    display: block;
    color: #414c64;
   
 
 }
 .service{
    height: 800px;

 }
 
 .lodo h1{
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
      margin-bottom: 20px;
    padding-bottom: 20px;  
    text-align: center;
    margin-top: 30px;
    font-family: "Raleway", sans-serif;
 }
 .lodo p{
     text-align: center;
    color: #aab3c7;
    font-family: "Open Sans", sans-serif;
    

 } 
 .ipsum{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 100px;
    
    
    
    
 }
 
 
 .sed{
      height: 200px; 
     width: 200px;  
    margin-top: 100px;
     margin-left: 120px; 
     margin-right: 20px; 
    position: relative;

 
}
.sed h1{
    font-weight: 600;
    margin: 10px 0 15px 0;
    font-size: 22px;
    font-family: "Raleway", sans-serif;
}
    
    
 
 .sed p{
    
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
    
    transition: all ease-in-out 0.3s;
    background: #fff;
    box-shadow: 0px 5px 90px 0px rgb(110 123 131 / 5%);
 }
 .sed i{
    
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    color: rgb(148, 125, 125);
    font-size: 32px;
    
 }
 .background i{
    font-size: 40px;
 } 

    
 /* }
 .icofont-dribbble{
    text-align: center;
    margin-top: 20px;height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #c05a5a;
    text-align: center;
    
 } */
 .sed .background1{
    
        margin: 0 auto 20px auto;
        text-align: center;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background: white;
        display: inline-block;
        margin: 30px 0px 0px 20px;
        position: relative;
    
    
    

    
 }
 .sed .background1 i{
     margin-top: 10px;
     position: absolute;
     left: 13px;
     top: 6px;
 }
 .sed .background2{
    margin: 0 auto 20px auto;
    text-align: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: white;
    display: inline-block;
    margin: 30px 0px 0px 20px;
    position: relative;
 }
 .sed .background2 i{
    margin-top: 10px;
    position: absolute;
    left: 13px;
    top: 6px;
 }
 .sed .background3{
    margin: 0 auto 20px auto;
    text-align: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: white;
    display: inline-block;
    margin: 30px 0px 0px 20px;
    position: relative;
 }
 .sed .background3 i{
    margin-top: 10px;
    position: absolute;
    left: 13px;
    top: 6px;
 }
 .sed .background4{
    margin: 0 auto 20px auto;
    text-align: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: white;
    display: inline-block;
    margin: 30px 0px 0px 20px;
    position: relative;
 }
 .sed .background4 i{
    margin-top: 10px;
    position: absolute;
    left: 13px;
    top: 6px;
 }
 .sed .background5{
    margin: 0 auto 20px auto;
    text-align: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: white;
    display: inline-block;
    margin: 30px 0px 0px 20px;
    position: relative;
 }
 .sed .background5 i{
    margin-top: 10px;
    position: absolute;
    left: 13px;
    top: 6px;
 }

 .sed .background6{
    margin: 0 auto 20px auto;
    text-align: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: white;
    display: inline-block;
    margin: 30px 0px 0px 20px;
    position: relative;
 }
 .sed .background6 i{
    margin-top: 10px;
    position: absolute;
    left: 13px;
    top: 6px;
 }
 .nive{
     padding: 100px;
    margin-right: 50px;
    margin-bottom: 100px;
    height: 450px;
    /* width: 1300px; */
    margin: auto;
 }
 .service{
    margin-bottom: 100px;
    /* height: 1000px; */
    /* width:1300px; */
    /* margin: auto; */
    
 }
 .background1 i{
    text-decoration: none;
    color:  #47aeff;
 }
.sed:hover .background1 i{
    color: #fff;
}
    
.sed:hover .background1{
    background: #47aeff;
}
.background2 i{
    text-decoration: none;
    color: #8b97b3;
}
.sed:hover .background2 i{
    color: white;
}
.sed:hover .background2{
    background: #8b97b3;
}
.background3 i{
    text-decoration: none;
    color: #e80368;
}
.sed:hover .background3 i{
    color: white;
}
.sed:hover .background3{
    background: #e80368; 
}
.background4 i{
    text-decoration: none;
    color: #ffbb2c;
}
.sed:hover .background4 i{
    color: white;
}
.sed:hover .background4{
    background: #ffbb2c; 
}
.background5 i{
    text-decoration: none;
    color: #ff5828;
}
.sed:hover .background5 i{
    color: white;
}
.sed:hover .background5{
    background: #ff5828; 
}
.background6 i{
    text-decoration: none;
    color: #11dbcf;
}
.sed:hover .background6 i{
    color: white;
}
.sed:hover .background6{
    background: #11dbcf;
}
.call{
    
    text-align: center;
    height: 300px;
    width: 1100x;
    
    background-color: #414c64;
    

    
}
.action{
    margin: auto;
}
 .action h1{
    color: white;
    font-size: 28px;
    font-weight: 700;
     padding  : 20px; 
    margin-top: 50px;
    
    
} 
.action p{
    font-size: 18px;
    color: white;
    margin-top: 5px;
}
/* .to{
    margin-top: 50px;
} */
.button{
     
    height: 25px;
    width: 200px;

    /* text-align: center; */
    color: white;
    

    
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
     padding: 10px 35px; 
    border-radius: 25px;
    transition: 0.5s;
    margin-top: 30px;
     border: 2px solid #ffc107; 
    
    
}
.button h3{
    margin-top: 6px;
}
.action{
    padding: 2px;
}
.projects{
    width: 100%;
    height: 800px;
    


}
.test{
    margin: auto;
}
.monials{
    text-align: center;
   
    padding-top: 10px;
}
.monials p{
      margin-top: 10px;
  font-family: "Open Sans", sans-serif;
      text-align: center;
       padding-bottom: 100px; 
      margin-bottom: 0;
      font-size: 14px;
      color: #aab3c7;
     
}
.monials h1{
    font-size: 32px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 20px;
      padding-bottom: 20px;
      position: relative;
      
      
    
    
}
.testmonials{
    display: flex;
    justify-content: space-evenly;
}
.quid{
    font-style: italic;
    margin: 0 15px 0 15px;
    padding: 20px 20px 60px 20px;
    background: #fafafc;
    position: relative;
    border-radius: 6px;
    position: relative;
    width: 300px;
    font-size: 20px;
}
.cillu{
    font-style: italic;
    margin: 0 15px 0 15px;
    padding: 20px 20px 60px 20px;
    background: #fafafc;
    position: relative;
    border-radius: 6px;
    position: relative;
    width: 300px;
    font-size: 20px;
}
.purus{
    font-style: italic;
    margin: 0 15px 0 15px;
    padding: 20px 20px 60px 20px;
    background: #fafafc;
    position: relative;
    border-radius: 6px;
    position: relative;
    width: 300px;
    font-size: 20px;
}
 .icofont-quote-left{
    color: #ffe7a0;
    font-size: 26px;
   
    
}
.icofont-quote-right{
    color: #ffe7a0;
    font-size: 26px;
}
.export{
    height: 90px;
    width: 90px;
    border-radius: 55%;
    margin-top: 30px;
    
}
.quid h2{
    margin-top: 20px;
}
.cillu h2{
    margin-top: 20px;
}
.purus h2{
    margin-top: 20px;
}
.quid  p{
    margin-top: 7px;
}
.cillu  p{
    margin-top: 7px;
}
.purus p{
    margin-top: 7px;
}
.center{
    display: flex;
    justify-content: center;

}
.round{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    /* border: 1px solid yellow; */
    margin-right: 7px;

}
.round:hover{
    background-color: yellow;
}
.container8{
    width: 1300px;
    /* height: 1500px; */



    
}
.portiflo{
    margin: auto;
}
.pricing{
    text-align: center;
}
.pricing h1{
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #444444;
    font-family: "Raleway", sans-serif;
}
.pricing p{
    margin-bottom: 0;
    font-size: 14px;
    color: #aab3c7;

}
.app{
    display: flex;
    justify-content: center;
}
.total{
    margin-right: 28px;
    margin-top: 60px;
    width: 80px;
    height: 50px;
     background-color: white;
     border-radius: 25px;
     text-align: center;
    
}
 .total:hover{
    background-color: yellow;
    
}
.total h5{
    margin-top: 15px;
}

.web{
    /* margin-left: 80px; */
    
    width: 350px;
    height: 330px;  
    /* margin-top: 100px;  */
    position: relative;
    overflow: hidden;
    /* padding: 0px 20px 0px 20px ; */

    
}
/* .creative-app{
    display: flex;
} */
.image{
    
    /* position: absolute; */
    
} 
.creative-app{
    position: absolute;
    height: 50px;
    width: 342px; 
    bottom: 0px;
     /* margin-left: 9px;  */
    top: 200px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #ffc107;
    opacity: 0;
    
    
    
    
    
}
.image img{
    
}
/* .web.image img{
    height: 270px;
    width: 380px;
} */
.creative-app .commodi h3{
    margin-top: 30px;
} 
.creative-app .creative{
    margin-top: 25px;
}
.web:hover .creative-app{
    opacity: 1;
    bottom: 0;

}
.web:hover img{
     position: absolute; 
     /* left: 15px;
    right: 15px;  */
    bottom: -20px;
    top:-30px ;
      
     transition-delay: 1s;

}
.image.img{
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    height: 270px;
    width: 380px;
}

.img-9{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    /* padding: 25px; */
    /* padding: 20px; */
    
}
.commodi{
    margin-left: 10px;
}
.creative{
    margin-right: 20px;
}
.para-graph{
    text-align: center;
    margin-top: 10px;
}
.para-graph h1{
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
    color: #414c64;
    font-family: "Raleway", sans-serif;
}
.para-graph p{
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #aaaaaa;
}




/*container7*/
.anderson{
     height: 500px;
    /* width: 1300px; */
    
    
     
}
.magnam{
   margin: auto;
}
.amanda h1{
    
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: center;


}
.amanda p{
    font-family: "Open Sans", sans-serif;
    color: #444444;
    text-align: center;
    padding-bottom: 30px;
    font-size: 14px;
    color: #aab3c7;
}
.img-white{
    padding: 20px;
}
.img-icon{
    height: 60px;
    width: 300px;
    
    display: flex;
  
    justify-content: center;
    position: absolute;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.85);
    opacity: 0;
    
}
.img-icon i{
    margin-right: 20px;
    margin-top: 20px;

}

    

.img-block{
   position: relative;
}
.img-white:hover .img-icon{
     opacity: 1; 
} 
.walter{
    display: flex;
    justify-content: center;
    
}.pricing-heading{
    height: 700px;
    width: 1300px;
    
    
}
.free{
    margin: auto;
}
.business{
    text-align: center;


}
.business h1{
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    
}
.business p{
    margin-bottom: 0;
    font-size: 14px;
    color: #aab3c7;
}
.ultimate-pricing{
    height: 450px;
     width: 325px; 
    /* outline: 2px solid red; */
    position: relative;
    
}
.ultimate-pricing h1{
         text-align: center;
}
.ultimate-pricing p{
    text-align: center;
    margin-top: 50px;
}
.ultimate-pricing p sup{
    
    position: absolute;
    left: 115px;
    top: 96px;
    font-size: 20px;
    color: #ffc107;

}
.developer-pricing{
    margin-top: 70px;
    /* display: flex;
    justify-content: space-between; */
  
}
.ultimate-pricing p {

    font-size: 36px;
    color: #ffc107;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;

}
.ultimate-pricing p span{
    color: #848484;
    font-size: 14px;

}
.business h1{
    margin: -20px -20px 20px -20px;
    padding: 20px 15px;
    font-size: 16px;
    font-weight: 600;
    color: #777777;
    background: #f8f8f8;
}  
.sup-pricing ul{
    font-size: 18px;
    color: #444444;
    text-align: center;
    list-style: none;
    line-height: 30px;
    

    
}
.line{
    text-decoration: line-through;
    
}
.pricing-end{
    display: flex;
    justify-content: space-between;
}
.end-end{

    margin-top: 50px;
    
    /* width: 100px; */
    /* outline: 2px solid red;  */
    
    align-items: center;
    display: inline-bloc
    k;
    text-decoration: none;
     
    display: inline-block;
    padding: 10px 35px;
    border-radius: 12px;
    transition: none;
    font-size: 13px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    transition: 0.3s;
     border: 2px solid #c8cedc;
    color: #6c7c9f;

    }
    .free-end .end-end{
        background: #ffc107;
     border: 2px solid #ffc107;
    }
    .free-end a:hover{
         background-color: lightgray
    }
    .first-end{
          background-color: #ffc107;
            width: 240px;
            height: 40px;
            padding: 10px;
            display: flex;
            justify-content: center;
            margin-left: 30px;
          
          
    /* font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px */

    }
    .first-end h1{
        /* margin-top: 15px */
    }
    .diamond{
        height:60px;
    }
    .frequecy{
        /* height: 900px;
        width: 1300px;
        outline: 2px solid red; */
     
    }
    .frequecy-syestem{
        margin: auto;
    }
    .syestem{
        text-align: center;
    }
    .syestem h1{
       margin-top: 20px;
       font-size: 32px;
       font-weight: bold;
       font-family: "Raleway", sans-serif;
       color: #444444;

    }
    .syestem p{
        margin-top: 20px;
        margin-bottom: 0;
        font-size: 14px;
        color: #aab3c7;
    }
    .icon-text{
        display: flex;
        justify-content: space-between;
        height: 50px;
        width: 1000px;
        padding: 10px;
        margin-bottom: 20px;
        background: rgb(252, 245, 245);

    }
    .syestem-frequecy{
        height: 400px;
        width: 800px;
        margin-left: 200px;
        line-height: 90px;
        
        padding: 20px;
    }
    .icon-text p i{
     margin-right: 10px;
     color: #ffc107;
     text-decoration: none;
         /* display: block;

        
      font-family: "Poppins", sans-serif;
      font-size: 16px;
line-height: 24px;
font-weight: 500; */
   height: 50px;

}
.icon-text:hover p{
    color: #ffc107;
}
.contact-contact{
    margin-top: 50px;
     height: 500px; 
    width: 1300px;


}
.contact-address{
    margin: auto;
}
.address-our{
    text-align: center;
}
.address-our p{
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 0;
    font-size: 14px;
    color: #aab3c7;
}

.address-our h1{
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}
.us-email{
    height: 200px;
    /* width: 650px; */
     display: flex;

    margin-top: 60px;
}
.input-type-free{
    height: 100px;

    width: 650px;
    text-align: center;
}
.lkj{
      display: flex;
}
.input-type{
      height: 200px; 
     width: 325px;
     text-align: center; 
     margin-top: 60px;  
}
.input-type-free h1{
    font-size: 20px;
    color: #777777;
    font-weight: 700;
     margin: 30px 0;
     font-family: "Open Sans", sans-serif; 
}
.input-type p{
    margin-top: 20px;

}
.input-type-free p{
    padding: 0;
    /* line-height: 24px; */
    font-size: 14px;
    margin-bottom: 0;
    color: #444444;
    text-align: center;
}
.input-type h1{
    font-size: 20px;
    color: #777777;
    font-weight: 700;
    margin: 10px 0;
    font-family: "Open Sans", sans-serif;
}
.input-type p{
    padding: 0;
     /* line-height: 24px;  */
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
    color: #444444;
    
}
.subject-message {
    display: flex;
    /* margin-right: 50px; */
    justify-content: space-between;
}
.holder-place{
    height: 300px;
    /* width: 1000px; */
    width: 650px;
    padding: 30px;

}
.type-input-free{
    display: flex;
    justify-content: space-between;
}
.holder-place input  {
    width: 500px;
}
.subject-message input{
    width: 234px;
    margin-right: 20px;
}
.button-send-message{
    text-align: center;
    margin-right: 150px;
    margin-top: 30px;
    text-decoration: none;
    /* background: #ffc107;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px; */

}
.button-send-message button{

background: #ffc107;
border: none;
height: 50px;
width: 200px;
border-radius: 50px;
color: #fff;


font-size: 16px;

}
.button-send-message button:hover{
    
background: #f3c846;
}
.icon-back{
    height:50px ;
    width: 50px;
    border-radius: 50px;
    /* outline: 2px solid red; */
    position: relative;
    margin-left: 300px;
    border: 2px dotted #ffeeba;
    
}
.icon-back i{
    position: absolute;
    
    left: 10px;
    top: 8px;
    font-size: 31px;
}
.first-syestm-abosulate{
    height:50px ;
    width: 50px;
    border-radius: 50px;
    /* outline: 2px solid red; */
    position: relative;
    margin-left: 140px;
    border:  2px dotted #ffeeba;
    /* border-color: blue; */
    
}
.first-syestm-abosulate i{
        position: absolute;
        left: 10px;
        top: 8px;
        font-size: 31px;
}
.container11{
     height: 350px; 
    width: 1300px;


}

.container12{
    margin: auto;
    display: flex;
}
.max-height{
   height: 500px; 
   width: 325px;
   
   text-align: center;

   
    

}
.max-height h1{
    font-family: "Raleway", sans-serif;
    margin-top: 15px;

}
.max-height p{
    color: #414c64;
    font-size: 14px;
    padding-bottom: 30px;
    margin-top: 30px;
    line-height: 20px;

    font-family: "Raleway", sans-serif;
    color: #777777;
}

.min-width{
    line-height: 20px;

    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;

    color: #777777;

}
.min-height{
    /* text-align: center; */
    line-height: 40px;
    height: 500px;
    width: 325px;
    
    

}
.min-height p a{
    text-decoration: none;
    color: black;
   
}
.min-height h1{
    text-align: center;
}
.min-height p{
    margin-left: 85px;
}
.min-height p a:hover{
    color: #ffc107;
}
.min-height p i{
    color: #ffc107;
}
.media-width-fixel{
    /* text-align: center; */
    line-height: 40px;
    height: 500px;
    width: 325px;
    
    

}
.media-width-fixel p a{
    text-decoration: none;
    color: black;
   
}
.media-width-fixel h1{
    text-align: center;
}
.media-width-fixel p{
     margin-left:80px; 
}
.media-width-fixel p a:hover{
    color: #ffc107;
}
.media-width-fixel p i{
    color: #ffc107;
}
.join-print{
    margin-top: 10px;
    
}
.join-print p{
    font-size: 15px;
    padding: 10px;
    margin-left: 180px;
    color: #414c64;




}
.join-print h1{
       
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    padding-bottom: 12px;
    text-align: center;
}
.print-join{
    height: 40px;
    width: 350px;
    outline: 2px solid #414c64;

    border-radius: 50px;
    margin-left: 150px;
    margin-top: 60px;
}
.print-join button{
    height: 40px;
    
  
    border-radius: 50px;
    /* background-color: #f7f8fa; */
    background: #ffc107;
    color: #fff;
    border: none;
    /* margin-left: 280px; */


}
.print-join input{
    width: 272px;
    border: none;
}
.print-join button:hover{
     background: #f7cd52;

}
.container13 p a{
    text-decoration: none;
color: red;
}
.container14{
    height: 100px;
    width: 1300px;

}
.container14{
    display: flex;
    justify-content: space-between;
}
.container15{
     display: flex;
}
.two-get-up{
    height: 30px;
    width: 30px;
    border-radius: 30px;
    
    position: relative;
    margin-right: 10px;
    background: #e1e4ec;
    /* opacity: 0.3; */

} 
.two-get-up i{
        position: absolute;
        bottom: 7px;
        left: 8px;
        color: #5f6f92;
       
 
}
.two-get-up:hover {
    background: #ffc107;
}
 























    
    
    
    


    
    












