
.container{
    width: 100%;
    
    margin: auto;
}
.style{
    display: flex;
    justify-content: space-between;


    
}
.team{
    margin-top: 30px;
    margin-left: 100px;
    font-size: 28px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: "Poppins", sans-serif;
    color: white;
    

}

.header ul{
    list-style: none;
    display: flex;
    margin-top: 15px;
    

    
}
/* .header ul li{} */
.header ul li a{
    font-size: 14px;
    font-weight: 400;
    color: black;
    white-space: nowrap;
    font-family: arial;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: white;
    margin-right: 20px;
}


.banner-text h2{
    text-align: center;
    margin: 50px 0px 50px 0px;
    font-size: 30px;
    color: white;
    font-family: "Raleway", sans-serif;
    
}
.banner-text p{
    text-align: center;
    font-family: "Raleway", sans-serif;
    color: #eee;
    margin: 45px 0px 50px 0px;
    font-size: 22px;
}
.banner-text p a{
    background: rgb(101, 101, 192);
    padding: 10px;
    margin-left: 30px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    font-size: 15px;
}
.banner-text p a:hover{
    background-color: yellow;
    padding: 10px;
    margin-left: 30px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    margin-top: 20px;
}
.mobile :hover{
    background-color: yellow;

}
.get{
    margin-top: 20px;
}
.banner-wrapper{
    padding: 90px;
}
.all{
    background-image:url(../photo.jpg);
}
.overall{
    background: rgba(45, 53, 69, 0.7);
}
.img-ara{
   
   display: flex;
   justify-content: space-between;
   padding: 30px;

}



.nisi{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    width: 48%;
    margin-bottom: 20px;
    

    
    
}




.color {
    
    height: 20px;
    width: 350px;
    margin-top: 10px;
    margin-bottom: 170px;
}

.img-area{
    
    height: 200px;
    width: 500px;
    margin-left: 50px;
    
}
.emi{
   width:200px;
   margin-left: 60px;
   
}
.red{
    height: 100px;
    width: 300px;
    margin-bottom: 30px;
}
.red p{
    font-size: 15px;
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
    
    
}
.red h1{
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
    margin-top: 20px;
}

.color p{
font-size: 20px;
}
    





    
/* 
}  margin-left: 310px;
    margin-top: 60px;
    margin-right: 10px;
}
.red p{ */
  

.citrus{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    
}
.color p{
    margin-top: 15px;
    font-size: 15px;
    color: #848484;

}
.color h1{
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
   


}
.color{
    font-size: 20px;
}
.icofont-ui-note{

    font-size: 48px;
    margin-top: 15px;
    color: #8b97b3;
    margin-bottom: 10px;
    
}
.icofont-cube{
    font-size: 48px;
    margin-top: 15px;
    color: #8b97b3
}
.number{
    display: flex;
     justify-content: space-between;
     margin-left: 250px;
     margin-right: 250px;
     margin-top: 80px;
   
 }
 .number h2 {
   font-size: 48px;
    display: block;
    color: #414c64;
   
 
 }
 .lodo h1{
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
      margin-bottom: 20px;
    padding-bottom: 20px;  
    text-align: center;
    margin-top: 30px;
    font-family: "Raleway", sans-serif;
 }
 .lodo p{
     text-align: center;
    color: #aab3c7;
    font-family: "Open Sans", sans-serif;
    

 } 
 .ipsum{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 100px;
    
    
    
    
 }
 .sed{
     height: 200px;
    width: 200px; 
    margin-top: 100px;
     margin-left: 120px; 
     margin-right: 20px; 
    position: relative;

 
}
.sed h1{
    font-weight: 600;
    margin: 10px 0 15px 0;
    font-size: 22px;
    font-family: "Raleway", sans-serif;
}
    
    
 
 .sed p{
    
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
    
    transition: all ease-in-out 0.3s;
    background: #fff;
    box-shadow: 0px 5px 90px 0px rgb(110 123 131 / 5%);
 }
 .sed i{
    
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    color: rgb(148, 125, 125);
    font-size: 32px;
    
 }
 .background i{
    font-size: 40px;
 } 

    
 /* }
 .icofont-dribbble{
    text-align: center;
    margin-top: 20px;height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #c05a5a;
    text-align: center;
    
 } */
 .sed .background1{
    
        margin: 0 auto 20px auto;
        text-align: center;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background: white;
        display: inline-block;
        margin: 30px 0px 0px 20px;
        position: relative;
    
    
    

    
 }
 .sed .background1 i{
     margin-top: 10px;
     position: absolute;
     left: 13px;
     top: 6px;
 }
 .sed .background2{
    margin: 0 auto 20px auto;
    text-align: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: white;
    display: inline-block;
    margin: 30px 0px 0px 20px;
    position: relative;
 }
 .sed .background2 i{
    margin-top: 10px;
    position: absolute;
    left: 13px;
    top: 6px;
 }
 .sed .background3{
    margin: 0 auto 20px auto;
    text-align: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: white;
    display: inline-block;
    margin: 30px 0px 0px 20px;
    position: relative;
 }
 .sed .background3 i{
    margin-top: 10px;
    position: absolute;
    left: 13px;
    top: 6px;
 }
 .sed .background4{
    margin: 0 auto 20px auto;
    text-align: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: white;
    display: inline-block;
    margin: 30px 0px 0px 20px;
    position: relative;
 }
 .sed .background4 i{
    margin-top: 10px;
    position: absolute;
    left: 13px;
    top: 6px;
 }
 .sed .background5{
    margin: 0 auto 20px auto;
    text-align: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: white;
    display: inline-block;
    margin: 30px 0px 0px 20px;
    position: relative;
 }
 .sed .background5 i{
    margin-top: 10px;
    position: absolute;
    left: 13px;
    top: 6px;
 }

 .sed .background6{
    margin: 0 auto 20px auto;
    text-align: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: white;
    display: inline-block;
    margin: 30px 0px 0px 20px;
    position: relative;
 }
 .sed .background6 i{
    margin-top: 10px;
    position: absolute;
    left: 13px;
    top: 6px;
 }
 .nive{
     padding: 100px;
    margin-right: 50px;
    margin-bottom: 100px;
    height: 450px;
    /* width: 1300px; */
 }
 .service{
    margin-bottom: 100px;
    /* height: 1000px; */
    /* width:1300px; */
    
 }
 .background1 i{
    text-decoration: none;
    color:  #47aeff;
 }
.sed:hover .background1 i{
    color: #fff;
}
    
.sed:hover .background1{
    background: #47aeff;
}
.background2 i{
    text-decoration: none;
    color: #8b97b3;
}
.sed:hover .background2 i{
    color: white;
}
.sed:hover .background2{
    background: #8b97b3;
}
.background3 i{
    text-decoration: none;
    color: #e80368;
}
.sed:hover .background3 i{
    color: white;
}
.sed:hover .background3{
    background: #e80368; 
}
.background4 i{
    text-decoration: none;
    color: #ffbb2c;
}
.sed:hover .background4 i{
    color: white;
}
.sed:hover .background4{
    background: #ffbb2c; 
}
.background5 i{
    text-decoration: none;
    color: #ff5828;
}
.sed:hover .background5 i{
    color: white;
}
.sed:hover .background5{
    background: #ff5828; 
}
.background6 i{
    text-decoration: none;
    color: #11dbcf;
}
.sed:hover .background6 i{
    color: white;
}
.sed:hover .background6{
    background: #11dbcf;
}






 
 

 
 
 
 
 
    











